/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../sass/screen.scss */
body {
  margin: 0;
}

/* line 45, ../sass/screen.scss */
.slide {
  width: 100%;
  height: 100%;
}
/* line 49, ../sass/screen.scss */
.slide .caption {
  position: relative;
  top: 80px;
  left: 10%;
  font-family: Georgia, serif;
  font-size: 3rem;
  color: #fff8f8;
  text-shadow: rgba(100, 100, 100, 0.2) 3px 3px 0;
}
/* line 60, ../sass/screen.scss */
.slide .content {
  position: relative;
  top: 120px;
  left: 50%;
  margin-left: -30%;
  width: 60%;
  height: 60%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
/* line 74, ../sass/screen.scss */
.slide:nth-child(4n+1) {
  background: #ea7371;
}
/* line 78, ../sass/screen.scss */
.slide:nth-child(4n+2) {
  background: #ffc1b3;
}
/* line 82, ../sass/screen.scss */
.slide:nth-child(4n+3) {
  background: #88b3cf;
}
/* line 86, ../sass/screen.scss */
.slide:nth-child(4n+4) {
  background: #2d5f73;
}

@-webkit-keyframes down {
  /* line 92, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 93, ../sass/screen.scss */
  100% {
    top: 50%;
  }
}

@-moz-keyframes down {
  /* line 92, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 93, ../sass/screen.scss */
  100% {
    top: 50%;
  }
}

@-ms-keyframes down {
  /* line 92, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 93, ../sass/screen.scss */
  100% {
    top: 50%;
  }
}

@keyframes down {
  /* line 92, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 93, ../sass/screen.scss */
  100% {
    top: 50%;
  }
}

@-webkit-keyframes down-and-left {
  /* line 97, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 98, ../sass/screen.scss */
  50% {
    top: 50%;
    left: 0;
  }

  /* line 99, ../sass/screen.scss */
  100% {
    top: 50%;
    left: 50%;
  }
}

@-moz-keyframes down-and-left {
  /* line 97, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 98, ../sass/screen.scss */
  50% {
    top: 50%;
    left: 0;
  }

  /* line 99, ../sass/screen.scss */
  100% {
    top: 50%;
    left: 50%;
  }
}

@-ms-keyframes down-and-left {
  /* line 97, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 98, ../sass/screen.scss */
  50% {
    top: 50%;
    left: 0;
  }

  /* line 99, ../sass/screen.scss */
  100% {
    top: 50%;
    left: 50%;
  }
}

@keyframes down-and-left {
  /* line 97, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 98, ../sass/screen.scss */
  50% {
    top: 50%;
    left: 0;
  }

  /* line 99, ../sass/screen.scss */
  100% {
    top: 50%;
    left: 50%;
  }
}

/* line 103, ../sass/screen.scss */
#first-slide .circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ffc1b3;
}
/* line 110, ../sass/screen.scss */
#first-slide .circle:hover {
  -webkit-animation: 1s ease-in-out down;
  -khtml-animation: 1s ease-in-out down;
  -moz-animation: 1s ease-in-out down;
  -ms-animation: 1s ease-in-out down;
  -o-animation: 1s ease-in-out down;
  animation: 1s ease-in-out down;
}
/* line 115, ../sass/screen.scss */
#first-slide .root-scope {
  position: relative;
  width: 200px;
  height: 200px;
}
/* line 120, ../sass/screen.scss */
#first-slide .root-scope:hover {
  -webkit-animation: 1s ease-in-out down-and-left;
  -khtml-animation: 1s ease-in-out down-and-left;
  -moz-animation: 1s ease-in-out down-and-left;
  -ms-animation: 1s ease-in-out down-and-left;
  -o-animation: 1s ease-in-out down-and-left;
  animation: 1s ease-in-out down-and-left;
}
/* line 124, ../sass/screen.scss */
#first-slide .root-scope .scope-header {
  background: #000;
  color: #fff;
  padding: 25px;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
/* line 133, ../sass/screen.scss */
#first-slide .root-scope .scope-body {
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.4);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* line 134, ../sass/screen.scss */
#first-slide .root-scope .scope-body padding {
  right: 50px;
  bottom: 50px;
  left: 50px;
}
