/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 49, ../sass/screen.scss */
body {
  margin: 0;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14pt;
}

/* line 55, ../sass/screen.scss */
code {
  font-family: "Monaco", "Lucida Console", "Courier Sans", monospace;
}

/* line 59, ../sass/screen.scss */
.slide {
  width: 100%;
  height: 100%;
}
/* line 63, ../sass/screen.scss */
.slide .caption {
  position: relative;
  top: 80px;
  left: 10%;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 3rem;
  color: #fff8f8;
  text-shadow: rgba(100, 100, 100, 0.2) 3px 3px 0;
}
/* line 74, ../sass/screen.scss */
.slide .content {
  position: relative;
  top: 120px;
  left: 50%;
  margin-left: -30%;
  width: 60%;
  height: 60%;
  border-radius: 10px;
}
/* line 88, ../sass/screen.scss */
.slide:nth-child(4n+1) {
  background: #ea7371;
}
/* line 92, ../sass/screen.scss */
.slide:nth-child(4n+2) {
  background: #ffc1b3;
}
/* line 96, ../sass/screen.scss */
.slide:nth-child(4n+3) {
  background: #88b3cf;
}
/* line 100, ../sass/screen.scss */
.slide:nth-child(4n+4) {
  background: #2d5f73;
}

@-webkit-keyframes first-expand {
  /* line 109, ../sass/screen.scss */
  0% {
    border: 15px solid #e34745;
  }

  /* line 111, ../sass/screen.scss */
  50% {
    border: 1px solid rgba(227, 71, 69, 0);
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }

  /* line 119, ../sass/screen.scss */
  100% {
    border: 15px solid #e34745;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
}

@-moz-keyframes first-expand {
  /* line 109, ../sass/screen.scss */
  0% {
    border: 15px solid #e34745;
  }

  /* line 111, ../sass/screen.scss */
  50% {
    border: 1px solid rgba(227, 71, 69, 0);
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }

  /* line 119, ../sass/screen.scss */
  100% {
    border: 15px solid #e34745;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
}

@-ms-keyframes first-expand {
  /* line 109, ../sass/screen.scss */
  0% {
    border: 15px solid #e34745;
  }

  /* line 111, ../sass/screen.scss */
  50% {
    border: 1px solid rgba(227, 71, 69, 0);
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }

  /* line 119, ../sass/screen.scss */
  100% {
    border: 15px solid #e34745;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
}

@keyframes first-expand {
  /* line 109, ../sass/screen.scss */
  0% {
    border: 15px solid #e34745;
  }

  /* line 111, ../sass/screen.scss */
  50% {
    border: 1px solid rgba(227, 71, 69, 0);
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }

  /* line 119, ../sass/screen.scss */
  100% {
    border: 15px solid #e34745;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
}

@-webkit-keyframes dot-expand {
  /* line 129, ../sass/screen.scss */
  0% {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #e34745;
  }

  /* line 130, ../sass/screen.scss */
  50% {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background: rgba(227, 71, 69, 0);
  }

  /* line 131, ../sass/screen.scss */
  100% {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #e34745;
  }
}

@-moz-keyframes dot-expand {
  /* line 129, ../sass/screen.scss */
  0% {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #e34745;
  }

  /* line 130, ../sass/screen.scss */
  50% {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background: rgba(227, 71, 69, 0);
  }

  /* line 131, ../sass/screen.scss */
  100% {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #e34745;
  }
}

@-ms-keyframes dot-expand {
  /* line 129, ../sass/screen.scss */
  0% {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #e34745;
  }

  /* line 130, ../sass/screen.scss */
  50% {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background: rgba(227, 71, 69, 0);
  }

  /* line 131, ../sass/screen.scss */
  100% {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #e34745;
  }
}

@keyframes dot-expand {
  /* line 129, ../sass/screen.scss */
  0% {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #e34745;
  }

  /* line 130, ../sass/screen.scss */
  50% {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background: rgba(227, 71, 69, 0);
  }

  /* line 131, ../sass/screen.scss */
  100% {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #e34745;
  }
}

/* line 135, ../sass/screen.scss */
#first-slide .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  border: 1px solid #e34745;
  -webkit-animation: 1s ease first-expand infinite;
  -khtml-animation: 1s ease first-expand infinite;
  -moz-animation: 1s ease first-expand infinite;
  -ms-animation: 1s ease first-expand infinite;
  -o-animation: 1s ease first-expand infinite;
  animation: 1s ease first-expand infinite;
}
/* line 152, ../sass/screen.scss */
#first-slide .dot {
  position: absolute;
  background: #e34745;
  border-radius: 50%;
}
/* line 159, ../sass/screen.scss */
#first-slide #first-dot {
  top: 10%;
  left: 20%;
  -webkit-animation: 0.8s ease-out dot-expand infinite;
  -khtml-animation: 0.8s ease-out dot-expand infinite;
  -moz-animation: 0.8s ease-out dot-expand infinite;
  -ms-animation: 0.8s ease-out dot-expand infinite;
  -o-animation: 0.8s ease-out dot-expand infinite;
  animation: 0.8s ease-out dot-expand infinite;
}
/* line 165, ../sass/screen.scss */
#first-slide #second-dot {
  top: 80%;
  left: 75%;
  -webkit-animation: 1.5s ease-out dot-expand infinite;
  -khtml-animation: 1.5s ease-out dot-expand infinite;
  -moz-animation: 1.5s ease-out dot-expand infinite;
  -ms-animation: 1.5s ease-out dot-expand infinite;
  -o-animation: 1.5s ease-out dot-expand infinite;
  animation: 1.5s ease-out dot-expand infinite;
}
/* line 171, ../sass/screen.scss */
#first-slide #third-dot {
  top: 0%;
  left: 100%;
  -webkit-animation: 0.9s ease-out dot-expand infinite;
  -khtml-animation: 0.9s ease-out dot-expand infinite;
  -moz-animation: 0.9s ease-out dot-expand infinite;
  -ms-animation: 0.9s ease-out dot-expand infinite;
  -o-animation: 0.9s ease-out dot-expand infinite;
  animation: 0.9s ease-out dot-expand infinite;
}
/* line 177, ../sass/screen.scss */
#first-slide #fourth-dot {
  top: 60%;
  left: 0%;
  -webkit-animation: 1.2s ease-out dot-expand infinite;
  -khtml-animation: 1.2s ease-out dot-expand infinite;
  -moz-animation: 1.2s ease-out dot-expand infinite;
  -ms-animation: 1.2s ease-out dot-expand infinite;
  -o-animation: 1.2s ease-out dot-expand infinite;
  animation: 1.2s ease-out dot-expand infinite;
}

@-webkit-keyframes expand {
  /* line 185, ../sass/screen.scss */
  0% {
    margin-left: -50px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }

  /* line 186, ../sass/screen.scss */
  50% {
    margin-left: -100px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    padding-top: 75px;
  }

  /* line 187, ../sass/screen.scss */
  100% {
    margin-left: -50px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }
}

@-moz-keyframes expand {
  /* line 185, ../sass/screen.scss */
  0% {
    margin-left: -50px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }

  /* line 186, ../sass/screen.scss */
  50% {
    margin-left: -100px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    padding-top: 75px;
  }

  /* line 187, ../sass/screen.scss */
  100% {
    margin-left: -50px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }
}

@-ms-keyframes expand {
  /* line 185, ../sass/screen.scss */
  0% {
    margin-left: -50px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }

  /* line 186, ../sass/screen.scss */
  50% {
    margin-left: -100px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    padding-top: 75px;
  }

  /* line 187, ../sass/screen.scss */
  100% {
    margin-left: -50px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }
}

@keyframes expand {
  /* line 185, ../sass/screen.scss */
  0% {
    margin-left: -50px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }

  /* line 186, ../sass/screen.scss */
  50% {
    margin-left: -100px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    padding-top: 75px;
  }

  /* line 187, ../sass/screen.scss */
  100% {
    margin-left: -50px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
  }
}

/* line 194, ../sass/screen.scss */
#second-slide .scope {
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  margin-left: -50px;
  margin-top: -100px;
  padding-top: 50px;
  border: 5px solid #fff8f8;
  border-radius: 50%;
  color: #fff8f8;
  text-shadow: rgba(100, 100, 100, 0.2) 2px 2px 0;
  -webkit-box-shadow: rgba(100, 100, 100, 0.2) 3px 3px 2px, rgba(100, 100, 100, 0.2) 0 0 3px;
  -moz-box-shadow: rgba(100, 100, 100, 0.2) 3px 3px 2px, rgba(100, 100, 100, 0.2) 0 0 3px;
  box-shadow: rgba(100, 100, 100, 0.2) 3px 3px 2px, rgba(100, 100, 100, 0.2) 0 0 3px;
}

/* line 225, ../sass/screen.scss */
#third-slide .scope {
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  margin-left: -50px;
  margin-top: -100px;
  padding-top: 50px;
  border-radius: 50%;
  background: #fff8f8;
  color: #88b3cf;
  -webkit-box-shadow: rgba(100, 100, 100, 0.2) 3px 3px 2px, rgba(100, 100, 100, 0.2) 0 0 3px;
  -moz-box-shadow: rgba(100, 100, 100, 0.2) 3px 3px 2px, rgba(100, 100, 100, 0.2) 0 0 3px;
  box-shadow: rgba(100, 100, 100, 0.2) 3px 3px 2px, rgba(100, 100, 100, 0.2) 0 0 3px;
}
/* line 250, ../sass/screen.scss */
#third-slide .scope hr {
  background: #88b3cf;
  border: none;
  width: 125px;
  height: 2px;
}
/* line 258, ../sass/screen.scss */
#third-slide #child-scope {
  top: 150px;
  left: 200px;
}

@-webkit-keyframes first-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 100px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-moz-keyframes first-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 100px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-ms-keyframes first-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 100px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@keyframes first-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 100px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-webkit-keyframes second-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 75px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-moz-keyframes second-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 75px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-ms-keyframes second-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 75px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@keyframes second-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 75px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-webkit-keyframes third-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 50px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-moz-keyframes third-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 50px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-ms-keyframes third-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 50px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@keyframes third-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 50px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-webkit-keyframes fourth-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 25px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-moz-keyframes fourth-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 25px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@-ms-keyframes fourth-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 25px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

@keyframes fourth-layer {
  /* line 269, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 270, ../sass/screen.scss */
  50% {
    top: 25px;
  }

  /* line 271, ../sass/screen.scss */
  100% {
    top: 0;
  }
}

/* line 281, ../sass/screen.scss */
#fourth-slide .layer {
  position: absolute;
  background: #88b3cf;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate3d(1, 0, -1, 60deg);
  -moz-transform: rotate3d(1, 0, -1, 60deg);
  -ms-transform: rotate3d(1, 0, -1, 60deg);
  -o-transform: rotate3d(1, 0, -1, 60deg);
  transform: rotate3d(1, 0, -1, 60deg);
}
/* line 289, ../sass/screen.scss */
#fourth-slide #first-layer {
  top: 100px;
  background: #284c63;
  -webkit-animation: 3s ease-in-out first-layer infinite;
  -khtml-animation: 3s ease-in-out first-layer infinite;
  -moz-animation: 3s ease-in-out first-layer infinite;
  -ms-animation: 3s ease-in-out first-layer infinite;
  -o-animation: 3s ease-in-out first-layer infinite;
  animation: 3s ease-in-out first-layer infinite;
}
/* line 295, ../sass/screen.scss */
#fourth-slide #second-layer {
  top: 75px;
  background: #376887;
  -webkit-animation: 3s ease-in-out second-layer infinite;
  -khtml-animation: 3s ease-in-out second-layer infinite;
  -moz-animation: 3s ease-in-out second-layer infinite;
  -ms-animation: 3s ease-in-out second-layer infinite;
  -o-animation: 3s ease-in-out second-layer infinite;
  animation: 3s ease-in-out second-layer infinite;
}
/* line 301, ../sass/screen.scss */
#fourth-slide #third-layer {
  top: 50px;
  background: #4583ac;
  -webkit-animation: 3s ease-in-out third-layer infinite;
  -khtml-animation: 3s ease-in-out third-layer infinite;
  -moz-animation: 3s ease-in-out third-layer infinite;
  -ms-animation: 3s ease-in-out third-layer infinite;
  -o-animation: 3s ease-in-out third-layer infinite;
  animation: 3s ease-in-out third-layer infinite;
}
/* line 307, ../sass/screen.scss */
#fourth-slide #fourth-layer {
  top: 25px;
  background: #649cc0;
  -webkit-animation: 3s ease-in-out fourth-layer infinite;
  -khtml-animation: 3s ease-in-out fourth-layer infinite;
  -moz-animation: 3s ease-in-out fourth-layer infinite;
  -ms-animation: 3s ease-in-out fourth-layer infinite;
  -o-animation: 3s ease-in-out fourth-layer infinite;
  animation: 3s ease-in-out fourth-layer infinite;
}
/* line 313, ../sass/screen.scss */
#fourth-slide #fifth-layer {
  top: 0;
}

@-webkit-keyframes canvas-animation {
  /* line 322, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(1, 0, 1, 0deg);
    -moz-transform: rotate3d(1, 0, 1, 0deg);
    -ms-transform: rotate3d(1, 0, 1, 0deg);
    -o-transform: rotate3d(1, 0, 1, 0deg);
    transform: rotate3d(1, 0, 1, 0deg);
  }

  /* line 323, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(1, 0, 1, 90deg);
    -moz-transform: rotate3d(1, 0, 1, 90deg);
    -ms-transform: rotate3d(1, 0, 1, 90deg);
    -o-transform: rotate3d(1, 0, 1, 90deg);
    transform: rotate3d(1, 0, 1, 90deg);
  }

  /* line 324, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(1, 0, 1, 0deg);
    -moz-transform: rotate3d(1, 0, 1, 0deg);
    -ms-transform: rotate3d(1, 0, 1, 0deg);
    -o-transform: rotate3d(1, 0, 1, 0deg);
    transform: rotate3d(1, 0, 1, 0deg);
  }
}

@-moz-keyframes canvas-animation {
  /* line 322, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(1, 0, 1, 0deg);
    -moz-transform: rotate3d(1, 0, 1, 0deg);
    -ms-transform: rotate3d(1, 0, 1, 0deg);
    -o-transform: rotate3d(1, 0, 1, 0deg);
    transform: rotate3d(1, 0, 1, 0deg);
  }

  /* line 323, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(1, 0, 1, 90deg);
    -moz-transform: rotate3d(1, 0, 1, 90deg);
    -ms-transform: rotate3d(1, 0, 1, 90deg);
    -o-transform: rotate3d(1, 0, 1, 90deg);
    transform: rotate3d(1, 0, 1, 90deg);
  }

  /* line 324, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(1, 0, 1, 0deg);
    -moz-transform: rotate3d(1, 0, 1, 0deg);
    -ms-transform: rotate3d(1, 0, 1, 0deg);
    -o-transform: rotate3d(1, 0, 1, 0deg);
    transform: rotate3d(1, 0, 1, 0deg);
  }
}

@-ms-keyframes canvas-animation {
  /* line 322, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(1, 0, 1, 0deg);
    -moz-transform: rotate3d(1, 0, 1, 0deg);
    -ms-transform: rotate3d(1, 0, 1, 0deg);
    -o-transform: rotate3d(1, 0, 1, 0deg);
    transform: rotate3d(1, 0, 1, 0deg);
  }

  /* line 323, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(1, 0, 1, 90deg);
    -moz-transform: rotate3d(1, 0, 1, 90deg);
    -ms-transform: rotate3d(1, 0, 1, 90deg);
    -o-transform: rotate3d(1, 0, 1, 90deg);
    transform: rotate3d(1, 0, 1, 90deg);
  }

  /* line 324, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(1, 0, 1, 0deg);
    -moz-transform: rotate3d(1, 0, 1, 0deg);
    -ms-transform: rotate3d(1, 0, 1, 0deg);
    -o-transform: rotate3d(1, 0, 1, 0deg);
    transform: rotate3d(1, 0, 1, 0deg);
  }
}

@keyframes canvas-animation {
  /* line 322, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate3d(1, 0, 1, 0deg);
    -moz-transform: rotate3d(1, 0, 1, 0deg);
    -ms-transform: rotate3d(1, 0, 1, 0deg);
    -o-transform: rotate3d(1, 0, 1, 0deg);
    transform: rotate3d(1, 0, 1, 0deg);
  }

  /* line 323, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate3d(1, 0, 1, 90deg);
    -moz-transform: rotate3d(1, 0, 1, 90deg);
    -ms-transform: rotate3d(1, 0, 1, 90deg);
    -o-transform: rotate3d(1, 0, 1, 90deg);
    transform: rotate3d(1, 0, 1, 90deg);
  }

  /* line 324, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate3d(1, 0, 1, 0deg);
    -moz-transform: rotate3d(1, 0, 1, 0deg);
    -ms-transform: rotate3d(1, 0, 1, 0deg);
    -o-transform: rotate3d(1, 0, 1, 0deg);
    transform: rotate3d(1, 0, 1, 0deg);
  }
}

/* line 328, ../sass/screen.scss */
#fifth-slide canvas {
  position: absolute;
  -webkit-animation: 3s ease-in-out canvas-animation infinite;
  -khtml-animation: 3s ease-in-out canvas-animation infinite;
  -moz-animation: 3s ease-in-out canvas-animation infinite;
  -ms-animation: 3s ease-in-out canvas-animation infinite;
  -o-animation: 3s ease-in-out canvas-animation infinite;
  animation: 3s ease-in-out canvas-animation infinite;
}

/* line 340, ../sass/screen.scss */
#sixth-slide .scope {
  border-radius: 20px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.2) 6px 6px 0, rgba(100, 100, 100, 0.2) 0 0 6px;
  -moz-box-shadow: rgba(100, 100, 100, 0.2) 6px 6px 0, rgba(100, 100, 100, 0.2) 0 0 6px;
  box-shadow: rgba(100, 100, 100, 0.2) 6px 6px 0, rgba(100, 100, 100, 0.2) 0 0 6px;
}
/* line 345, ../sass/screen.scss */
#sixth-slide .scope .scope-header {
  position: relative;
  background: #1f414e;
  color: #fff8f8;
  height: 25%;
  padding: 8%;
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* line 362, ../sass/screen.scss */
#sixth-slide .scope .scope-body {
  background: #fff8f8;
  height: 75%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* line 371, ../sass/screen.scss */
#sixth-slide .scope .scope-body .left,
#sixth-slide .scope .scope-body .center,
#sixth-slide .scope .scope-body .right {
  float: left;
  width: 33.33%;
  height: 100%;
  padding: 8%;
}
/* line 377, ../sass/screen.scss */
#sixth-slide .scope .scope-body .left .row,
#sixth-slide .scope .scope-body .center .row,
#sixth-slide .scope .scope-body .right .row {
  position: relative;
  background: #88b3cf;
  width: 100%;
  height: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
}
/* line 386, ../sass/screen.scss */
#sixth-slide .scope .scope-body .left .row-75,
#sixth-slide .scope .scope-body .center .row-75,
#sixth-slide .scope .scope-body .right .row-75 {
  width: 75%;
}
