@mixin layer($layer-name, $height) {
  @include keyframes($layer-name) {
    0% { top: 0; }
    50% { top: $height; }
    100% { top: 0; }
  }
}

@include layer("first-layer", 100px);
@include layer("second-layer", 75px);
@include layer("third-layer", 50px);
@include layer("fourth-layer", 25px);

#fourth-slide {
  .layer {
    position: absolute;
    background: $third-color;
    width: 200px;
    height: 200px;
    @include rotate3d(1, 0, -1, 60deg);
  }

  #first-layer {
    top: 100px;
    background: darken($third-color, 40%);
    @include animation(3s ease-in-out first-layer infinite);
  }

  #second-layer {
    top: 75px;
    background: darken($third-color, 30%);
    @include animation(3s ease-in-out second-layer infinite);
  }

  #third-layer {
    top: 50px;
    background: darken($third-color, 20%);
    @include animation(3s ease-in-out third-layer infinite);
  }

  #fourth-layer {
    top: 25px;
    background: darken($third-color, 10%);
    @include animation(3s ease-in-out fourth-layer infinite);
  }

  #fifth-layer {
    top: 0;
  }
}
