#second-slide {
  .scope {
    position: absolute;
    overflow: hidden;
    text-align: center;

    top: 100px;
    left: 100px;

    width: 200px;
    height: 200px;

    margin-left: -50px;
    margin-top: -100px;

    padding-top: 50px;

    border: 5px solid $text-color;
    border-radius: 50%;

    color: $text-color;
    @include text-shadow($shadow-color 2px 2px 0);
    @include default-box-shadow();
  }
}
