.slide {
  width: 100%;
  height: 100%;

  min-width: 768px;
  min-height: 768px;

  .caption {
    position: relative;
    top: 2 * $spacing;
    left: 10%;

    font-family: "ff-tisa-web-pro", Georgia, serif;
    font-size: 3rem;
    color: $text-color;
    @include text-shadow($shadow-color 3px 3px 0);
  }

  .content {
    position: relative;
    top: 3 * $spacing;
    left: 50%;

    margin-left: -0.5 * $content-width;

    width: $content-width;
    height: $content-width;

    max-width: $max-content-width;
    max-height: $max-content-width;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &:nth-child(4n+1) {
    background: $first-color;
  }

  &:nth-child(4n+2) {
    background: $second-color;
  }

  &:nth-child(4n+3) {
    background: $third-color;
  }

  &:nth-child(4n+4) {
    background: $fourth-color;
  }
}
