$first-color: #ea7371;
$second-color: #ffc1b3;
$third-color: #88b3cf;
$fourth-color: #2d5f73;

body {
  margin: 0;
}

.slide {
  width: 100%;
  height: 100%;

  &:before {
    content: attr(data-caption);
  }

  &:nth-child(4n+1) {
    background: $first-color;
  }

  &:nth-child(4n+2) {
    background: $second-color;
  }

  &:nth-child(4n+3) {
    background: $third-color;
  }

  &:nth-child(4n+4) {
    background: $fourth-color;
  }
}
