/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
   -khtml-animation: #{$animation};
     -moz-animation: #{$animation};
      -ms-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

* {
  @include box-sizing(border-box)
}

$first-color: #ea7371;
$second-color: #ffc1b3;
$third-color: #88b3cf;
$fourth-color: #2d5f73;

$text-color: #fff8f8;
$shadow-color: rgba(100, 100, 100, 0.2);

$description-color: #767a7d;

$spacing: 40px;
$content-width: 60%;

$border-radius: 8px;

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14pt;
}

code {
  font-family: "Monaco", "Lucida Console", "Courier Sans", monospace;
}

.slide {
  width: 100%;
  height: 100%;

  .caption {
    position: relative;
    top: 2 * $spacing;
    left: 10%;

    font-family: Georgia, serif;
    font-size: 3rem;
    color: $text-color;
    @include text-shadow($shadow-color 3px 3px 0);
  }

  .content {
    position: relative;
    top: 3 * $spacing;
    left: 50%;

    margin-left: -0.5 * $content-width;

    width: $content-width;
    height: $content-width;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &:nth-child(4n+1) {
    background: $first-color;
  }

  &:nth-child(4n+2) {
    background: $second-color;
  }

  &:nth-child(4n+3) {
    background: $third-color;
  }

  &:nth-child(4n+4) {
    background: $fourth-color;
  }
}

@include keyframes(down) {
  0% { top: 0; }
  100% { top: 50%; }
}

@include keyframes(down-and-left) {
  0% { top: 0; }
  50% { top: 50%; left: 0; }
  100% { top: 50%; left: 50%; }
}

#first-slide {
  .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $second-color;

    &:hover {
      @include animation(1s ease-in-out down);
    }
  }

  .animated {
    @include animation(1s ease-in-out down-and-left);
  }

  .scope {
    position: absolute;
    width: 80%;
    height: 80%;
    float: left;
    @include box-shadow($shadow-color 3px 3px 2px,
                        $shadow-color 0 0 3px);

    .scope-header {
      background: #30363c;
      color: #fff;

      height: 30%;
      padding: 10%;
      text-align: center;

      font-weight: 100;
      @include text-shadow($shadow-color -1px -1px 0);
    }

    .scope-body {
      height: 70%;
      background: $text-color;
      color: $description-color;

      font-size: 10pt;
      text-align: center;

      .properties {
        padding: 10%;
        float: left;

        width: 50%;
        height: 100%;

        font-size: 10pt;

        background: #4b525c;
        color: $text-color;
      }

      ul {
        padding: 10%;
      }
    }
  }

  #root-scope {
    left: 10px;
  }

  // Custom CSS for each element.
  #child-scope {
    top: 50px;
    left: 190px;
  }
}

@include keyframes(expand) {
  0% { margin-left: -75px; margin-top: -75px; width: 150px; height: 150px; padding-top: 25px; }
  50% { margin-left: -150px; margin-top: -150px; width: 300px; height: 300px; padding-top: 50px; }
  100% { margin-left: -75px; margin-top: -75px; width: 150px; height: 150px; padding-top: 25px; }
}

#second-slide {
  .scope {
    position: absolute;
    overflow: hidden;

    top: 100px;
    left: 100px;

    text-align: center;
    padding-top: 10%;

    border: 5px solid $text-color;
    border-radius: 50%;

    color: $text-color;
    @include text-shadow($shadow-color 2px 2px 0);
    @include box-shadow($shadow-color 3px 3px 2px);

    @include animation(2s ease-in-out expand infinite);
  }
}

#third-slide {
  .scope {
    position: absolute;
    overflow: hidden;

    top: 100px;
    left: 100px;

    border-radius: 50%;

    background: $text-color;
    color: $description-color;
    text-align: center;

    // @include text-shadow($shadow-color 2px 2px 0);
    @include box-shadow($shadow-color 3px 3px 2px);
    @include animation(2s ease-in-out expand infinite);

    hr {
      background: $description-color;
      width: 125px;
      height: 1px;
    }
  }
}
