/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/css3/";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
   -khtml-animation: #{$animation};
     -moz-animation: #{$animation};
      -ms-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

* {
  @include box-sizing(border-box)
}

$first-color: #ea7371;
$second-color: #ffc1b3;
$third-color: #88b3cf;
$fourth-color: #2d5f73;

$text-color: #fff8f8;
$shadow-color: rgba(100, 100, 100, 0.2);

$spacing: 40px;
$content-width: 60%;

body {
  margin: 0;
}

.slide {
  width: 100%;
  height: 100%;

  .caption {
    position: relative;
    top: 2 * $spacing;
    left: 10%;

    font-family: Georgia, serif;
    font-size: 3rem;
    color: $text-color;
    @include text-shadow($shadow-color 3px 3px 0);
  }

  .content {
    position: relative;
    top: 3 * $spacing;
    left: 50%;

    margin-left: -0.5 * $content-width;

    width: $content-width;
    height: $content-width;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &:nth-child(4n+1) {
    background: $first-color;
  }

  &:nth-child(4n+2) {
    background: $second-color;
  }

  &:nth-child(4n+3) {
    background: $third-color;
  }

  &:nth-child(4n+4) {
    background: $fourth-color;
  }
}

@include keyframes(down) {
  0% { top: 0; }
  100% { top: 50%; }
}

@include keyframes(down-and-left) {
  0% { top: 0; }
  50% { top: 50%; left: 0; }
  100% { top: 50%; left: 50%; }
}

#first-slide {
  .circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $second-color;

    &:hover {
      @include animation(1s ease-in-out down);
    }
  }

  .root-scope {
    position: relative;
    width: 200px;
    height: 200px;

    &:hover {
      @include animation(1s ease-in-out down-and-left);
    }

    .scope-header {
      background: #000;
      color: #fff;
      padding: 25px;
      text-align: center;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    .scope-body {
      padding {
        right: 50px;
        bottom: 50px;
        left: 50px;
      }

      width: 100%;
      height: 100%;

      background: rgba( 100, 100, 100, 0.4 );
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}
